ELEVENLABS_API_KEY=tu_api_key_de_elevenlabs
FER_VOICE_ID=cgSgspJ2msm6clMCkdW9
RUFIS_VOICE_ID=IKne3meq5aSn9XLyUdCD
SERRATIN_VOICE_ID=JBFqnCBsd6RMkjVDRZzb
OPENROUTER_API_KEY=tu_api_key_de_openrouter
OPENROUTER_VIDEO_MODEL=minimax/hailuo-2.3
OPENROUTER_REFERENCE_IMAGE_URL=https://raw.githubusercontent.com/JRavenelco/Animaciones_IA/master/Podcast/trio_de_amigos.jpg
